body{
    background-image: url(img-fundo.jpeg);
    text-align: center;
}
#titulo{
    border-style: solid;
    border-color: rgb(10, 11, 11);
    background-color: aqua;
    padding: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}